<form method="post" action="/messages">
  <div>
    <label>Author:</label>
     <input type="text" name="author" value="<%= @message && @message.author %>">
  </div>
  <div>
    <label>Subject:</label>
        <input type="text" name="title" value="<%= @message && @message.title %>">
  </div>
  <div>
    <label>Content:</label>
        <input type="text" name="content" value="<%= @message && @message.content %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>